h1 =@question.title

h4 =@question.body

br

h2 Answers

ul
  =render @question.answers

br

h2 Create New Answer

br

=render 'answers/form'

-if current_user&.author_of?(@question)
  p =link_to 'Delete question', question_path(@question), method: :delete, data: { confirm: 'Are you sure?' }