h1 =@question.title

h4 =@question.body

hr

h2 Answers

.answers
  ul
    =render @question.answers

hr

h2 Create New Answer

hr

=render 'answers/form'

-if current_user&.author_of?(@question)
  p =link_to 'Delete question', question_path(@question), method: :delete, data: { confirm: 'Are you sure?' }